* {
    box-sizing: border-box;
}
:root {
    --primary-color: #0f1b4c;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 2.14rem;
    font-family: "Poppins", sans-serif;
}
/* common */
a {
    text-decoration: none;
    color: #000;
}

.btn {
    min-width: 98px;
    background: var(--primary-color);
    font-size: 1.4rem;
    font-weight: 500;
    text-align: center;
    color: #fff;
    border-radius: 12px;
    padding: 18px 16px;
}
.btn:hover {
    opacity: 0.8;
}
/* header */

.header {
    position: relative;
    margin-top: 0;
    display: flex;
    /* background-color: green; */
    height: 100vh;
    background: #e6f0ff;
}

.content {
    /* position: relative; */
    width: 1110px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}
.fixed-header {
    background: #e6f0ff;
    position: sticky;
    padding-top: 20px;
    top: -26px;
    z-index: 1;
}
.navbar {
    width: 1110px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
    /* position: absolute; */
    z-index: 1;
    display: flex;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 3rem;    
    border-radius: 3px;
}
.navbar ul {
    display: flex;
    margin-left: 50px;
}
.navbar .action {
    margin-left: auto;
    text-align: center;
}
.navbar ul a {
    font-weight: 500;
    font-size: 1.4rem;
    padding: 8px 14px;
}
.navbar ul a:hover {
    text-decoration: underline;
}
.navbar .action_link {
    color: var(--primary-color);
    font-size: 1.4rem;
    font-weight: 500;
}
.navbar .action_btn {
    padding: 12px 18px;
    margin-left: 18px;
    border-radius: 8px;
}
.hero {
    display: flex;
    height: 70%;
    margin-top: 130px;
}
.hero .info {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: flex-start;
    justify-content: center;
}
.hero .sub-title {
    font-size: 1.8rem;
    color: #687690;
    font-weight: 500;
    letter-spacing: 0.018rem;
    line-height: 1.5;
}
.hero h1 {
    color: #000336;
    margin-top: 8px;
    font-size: 6.5rem;
    font-weight: 700;
    line-height: 7.6rem;
}

.hero .desc {
    color: #5a6473;
    margin: 30px 0 40px;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 3.2rem; /* 177.778% */
}
.btn-hero {
    min-width: 170px;
    padding: 10px 25px;
    border-radius: 12px;
}
.hero-img {
    width: 70rem;
    position: absolute;
    right: calc((100vw - 1110px) / 2 - 100px);
    bottom: 0;
}

/* clients */
.clients {
    margin-top: 122px;
}
.clients .row {
    display: flex;
    justify-content: space-between;
}
.row .desc {
    margin-top: 2.3rem;
}
.img_brand {
    display: flex;
    margin-top: 6.42rem;
    justify-content: space-between;
}
.img_brand a{
    display: flex;
    align-items: center;
}

.guides {
    margin-top: 200px;
}
.guides .sub-title {
    position: relative;
    color: #000339;
    text-align: center;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 2.1875rem; /* 100% */
}
.guides .sub-title::before {
    position: absolute;
    content: "";
    display: inline-block;
    border-radius: 0.75rem;
    background: #000339;
    width: 6.5rem;
    height: 0.5rem;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
}
.guides .desc {
    color: #5a6473;
    font-size: 1.6rem;
    text-align: center;
    margin: 2rem auto 0;
    line-height: 3rem;
    font-weight: 400;
    max-width: 100%;
    width: 46rem;
}
.list-guide {
    margin-top: 70px;
    display: flex;
    justify-content: space-evenly;
}
.guide-item {
    color: #3b3c45;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.375rem; /* 110% */
}
.guide-item .title {
    margin-top: 2.6rem;
    margin-bottom: 1rem;
}

.guide-item .link:hover {
    text-decoration: underline;
    opacity: 0.7;
}
.guide-cta {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.guide-cta .btn {
    min-width: 170px;
}
.arrow {
    margin-bottom: 0.2rem;
    width: 1.5rem;
    align-items: center;
}
.featured .sub-title {
    color: #000339;
    margin-top: 23rem;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 3.5rem; /* 100% */
}
.featured .row-flex {
    color: #5a6473;
    display: flex;
    margin-top: 1.5rem;
    justify-content: space-between;
}
.featured .row-flex a:hover {
    text-decoration: underline;
}
.featured .link {
    color: #0689ff;
}
.featured .list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    margin-top: 7rem;
    gap: 30px;
}
.featured .list .title {
    margin-top: 1.7rem;
}
.featured .item {
    flex: 1;
}

.featured .body {
    margin-left: 2rem;
}
.featured h3 {
    font-size: 2.8rem;
    color: #000339;
    line-height: 2rem; /* 100% */
    font-weight: 600;
}
.featured .desc {
    margin-top: 1.6rem;
    margin-bottom: 2.3rem;
    font-size: 2rem;
    color: #a3a6ab;
    font-weight: 500;
}

.featured .info {
    display: flex;
    justify-content: space-between;
    color: #4d4d52;
    margin-bottom: 5rem;
}
.featured .item .thumb {
    width: 100%;
    height: 227px;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.featured .info .label {
    letter-spacing: 0.1rem;
    margin-top: 0.3rem;
    margin-right: 3rem;
}

.featured .item {
    border-radius: 12px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.stats {
    margin-top: 75px;
    padding: 50px 0;
}
.stats .row {
    display: flex;
}
.stats .img-block,
.stats .info {
    width: 50%;
}
.stats .img-block .img {
    display: block;
    max-width: 100%;
    object-fit: cover;
    border-radius: 12px;
    margin-left: 10rem;
    background: transparent;
}
.stats .info {
    padding: 17rem 0 0 16rem;
}
.stats .sub-title {
    position: relative;
    color: #000339;
    line-height: 1.29;
    font-size: 3.5rem;
    font-weight: 600;
    width: 269px;
}
.stats .sub-title::before {
    position: absolute;
    content: "";
    display: block;
    border-radius: 1rem;
    width: 5rem;
    height: 0.5rem;
    background: #000339;
    top: -10px;
}
.stats .desc {
    color: #5a6473;
    width: 28rem;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 3rem; /* 187.5% */
}
.img-block {
    position: relative;
}
.img-block .stats-trend {
    position: absolute;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 10px 36px 0px,
        rgba(0, 0, 0, 0.2) 0px 0px 0px 1px;
    top: 0;
    left: 10rem;
    padding: 3rem;
    color: #000339;
    font-size: 2.88889rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.88889rem;
    border-radius: 8px;
    width: 239px;
    height: 26rem;
    background: #fff;
}
.stats-trend .icon {
    margin-left: auto;
}
.stats-trend .separate {
    height: 2px;
    margin-top: 20px;
    background: #e9e9e9;
}
.stats .avt-block {
    display: flex;
    gap: 16px 14px;
    margin-top: 26px;
}
.stats .avt-group {
    display: flex;
    height: 16px;
    width: 16px;
    object-fit: cover;
    position: absolute;
    top: 20rem;
    left: 14rem;
}
.stats .avt {
    border-radius: 50%;
    margin-left: -3px;
}
.avt-desc {
    margin-left: 2.5rem;
    font-size: 15px;
    color: #a3a6ab;
    flex-wrap: wrap;
}
.avt-desc:hover {
    text-decoration: underline;
}
.qty-item .qty {
    color: #000;
    font-size: 7.11111rem;
    font-weight: 600;
    line-height: 7.11111rem; /* 100% */
}
.row-qty {
    justify-content: space-evenly;
    margin-top: -15rem;
}
.qty-item .qty-desc {
    margin-top: 2rem;
    color: #7b8087;
    font-size: 2rem;
    font-weight: 500;
}
/* footer */
.footer {
    margin-top: 50px;
    padding: 50px 0 58px;
}
.footer .row {
    display: flex;
}
.footer .row-footer {
    padding-top: 9rem;
    justify-content: space-between;
}
.footer .row-top {
    gap: 14rem;
}
.footer .heading {
    color: #1c1c1d;
    font-family: Lato,sans-serif;
    font-size: 3.22222rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.footer .list{
    margin-top: 5rem;
}
.footer .list .item{
    padding-bottom: 2rem;
}

.footer .item a{
    white-space:nowrap;

}
.footer .item a:hover{
    text-decoration: underline;
}